*.tar
*.log
repo/goylin-repo
repo/pkg-g/gapp-english-files.wip
repo/pkg-g/gapp-english.wip
repo/pkg-g/gapp-geo-sisvar/sisvar
repo/pkg-g/g-ad.ldap
repo/pkg-g/g-ad.realmd
repo/pkg-g/g-ad.sssd
repo/pkg-a
repo/pkgRoot
repo/blankdb
repo/PKGBUILD.proto
repo/proto.install
installer/utils/gPasswd.sh
iso/isoOut/
goylin-wallpapers/backgrounds.xcf
.vscode/
