.secrets/

*.tar
*.tar.gz
*.log
wip_*

iso/isoOut/

design/goylin/greeter_background.xcf
design/goylin/boot_splash.xcf
design/goylin/wallpapers.xcf

installer/utils/secrets.sh
installer/utils/pacman_goylin.conf
installer/utils/installConf.sh
installer/utils/wipPkgs.sh
installer/etc/hosts
installer/etc/systemd/timesyncd.conf

repo/utils/repoConf.sh
repo/.blankdb/
repo/.pkgRoot/
repo/pkg-a/
repo/pkg-w/

repo/pkg-c/gc-fspy/fspy.7z
repo/pkg-c/gc-hortafacil/hortafacil
repo/pkg-c/gc-sisvar/sisvar

utils/pacman_dev.conf