polkit.addRule(function(action, subject) {
	if (action.id.indexOf("org.freedesktop.NetworkManager.") === 0) {
		if (subject.isInGroup("IFG0+g_goi_ti") || subject.isInGroup("wheel")) {
			return polkit.Result.YES;
		}
		return polkit.Result.NO;
	}
});