[Unit]
Description=Update Goylin System files on Boot
Before=plymouth-quit.service display-manager.service
After=network-online.target plymouth-start.service

[Service]
Type=oneshot
ExecStart=/usr/bin/gSysStartUp

[Install]
WantedBy=multi-user.target plymouth-quit-wait.service