[Desktop Entry]
Name=Unity-2022.3
GenericName=Game development
GenericName[pt_BR]=Desenvolvimento de Jogos
Exec=/opt/Unity-2022.3.15f1/Editor/Unity %f
Icon=/opt/Unity-2022.3.15f1/unity3dicon.svg
Terminal=false
Type=Application
PrefersNonDefaultGPU=true
X-KDE-RunOnDiscreteGpu=true
Categories=Graphics;3DGraphics;Games
MimeType=application/x-unity;
StartupNotify=true