[Unit]
Description=Shutdown system Timer
After=goylinSyncTime.service

[Timer]
OnCalendar=*-*-* 22:30:00
AccuracySec=60s

[Install]
WantedBy=timers.target