[Desktop Entry]
Name=Youtube Downloader GUI
GenericName=Youtube Downloader GUI
Comment=Front-end GUI for yt-dlp
Exec=yt-dlg
Icon=youtube-dl-gui
Terminal=false
MimeType=
Type=Application
Categories=AudioVideo;Utility;FileTransfer;
Keywords=Multimedia;Video;Audio;