[Desktop Entry]
Name=Kdenlive
Name[pt_BR]=Kdenlive
GenericName=Video Editor
GenericName[pt_BR]=Editor de Vídeo
Comment=Nonlinear video editor by KDE
Comment[pt_BR]=Editor de vídeo não-linear do KDE
Type=Application
Exec=kdenlive %F
Icon=kdenlive
StartupWMClass=kdenlive
X-DocPath=kdenlive/index.html
MimeType=application/x-kdenlive;
Categories=Qt;KDE;AudioVideo;AudioVideoEditing;
Keywords=editing;video;audio;mlt;kde;
Keywords[pt_BR]=edição;vídeo;áudio;mlt;kde;
X-DBUS-ServiceName=org.kde.kdenlive
StartupNotify=true