[Desktop Entry]
Name=fSpy
Comment=An open source, cross platform app for still image camera matching
Exec=AppRun
Terminal=false
Type=Application
Icon=fspy
X-AppImage-Version=1.0.3
X-AppImage-BuildId=3ad3f750-0e60-11a9-2b3c-8da825eafcf8
Categories=Utility;
