[Desktop Entry]
Name=FreeTube
Exec=/opt/FreeTube/freetube %U
Terminal=false
Type=Application
Icon=freetube
StartupWMClass=FreeTube
Comment=Cliente youtube privado e com funções de download
MimeType=x-scheme-handler/freetube;
Categories=Network;
